<section class="clearfix content-area" ng-show="!showRater">
	<div class="banner">


		<div class="inner-banner">
			<h1>Track Corruption Schemes and Antidotes</h1>
			<div class="banner-search">
		<uib-tabset active="active">
					<uib-tab index="0" heading="Search by Scheme">
						<form>
							<input class="form-control" type="text" placeholder="What are you looking for ?" ng-model="searchKeyword">
							<button class="btn btn-outline-success" type="button" ng-click="search()">Search</button>
						</form>

					</uib-tab>
					<uib-tab index="1" heading="Search by Sector">
						<form>
							<input class="form-control" type="text" placeholder="What are you looking for ?" ng-model="searchKeyword">
							<button class="btn btn-outline-success" type="button" ng-click="search()">Search</button>
						</form>

					</uib-tab>


				</uib-tabset>



			</div>

		</div>
	</div>
	<!-- End banner -->
	<div class="ratings-wrap">
		<div class="container">
			<div class="work-reviews">
				
				<ul>
					<li> <span class="bullet cas"></span> 20M Cases </li>
					<li> <span class="bullet sch"></span> 800 Schemes </li>
					<li> <span class="bullet sec"></span> 20 sectors</li>
				</ul>

				<a href="#" class="btn btn-outline-success">See How It Works</a>
			</div>
			<div class="recent-ratings">
				<h4>Recent Ratings</h4>
				<div class="table-responsive">
					<table class="table ">
						<tr>
							<th>Institutions</th>
							<th>No of schemes </th>
							<th>Sector</th>
							<th></th>
						</tr>


						<tr class="purpel" ng-repeat="rating in ratings" rating=rating rating-badge>

						</tr>

					</table>
				</div>
			</div>
	<div class="recent-ratings">
				<h4>Recent Entities</h4>
					<div class="table-responsive">
					<table class="table ">
						<tr>
							<th>Institutions</th>
							<th>Sectors</th>
							<th></th>
						</tr>


						<tr class="purpel" ng-repeat="entity in entities" entity-badge>

						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- End rating wrap -->
	<div class="schemes">
		<div class="container">
			<h2>Recent Schemes</h2>

			<div class="row scheme-thumb-wrap">
				<div class="col-md-4 col-sm-6" ng-repeat="scheme in schemes">
					<div class="scheme-thumb">
						<p class="update">updated 4 days ago</p>
						<h4>{{scheme.name}}</h4>
						<h5><strong>Sector: </strong> Education</h5>
						<h5><strong>Subsceptible Areas: </strong> Admission, RegistraIon, ExaminaIon/ CerIﬁcaIon...</h5>
						<h5><strong>Scheme Operators: </strong> AdministraIve Staﬀ, NonAcademic Staﬀ ...</h5>
						<h5><strong>Antidotes: </strong> {{scheme.antidotes.length}}</h5>
						<a href="#" class="read-more">Read More</a>

					</div>
				</div>
				<!-- End scheme thumb -->
			</div>
		</div>
	</div>
	<!-- End schemes -->
	<div class="join-area">
		<div class="container">
		

			<h2>Join to kill corruption now!</h2>
			<form class="form-inline" method="post" action="#">
				<input type="text" placeholder="Name" class="form-control">
				<input type="Email" placeholder="E-mail" class="form-control">
				<button class="btn btn-success">Sign up</button>
			</form>

		</div>
	</div>
</section>

    <section class="clearfix content-area" ng-show="showRater">
       
       <div class="rating-area">
          <form name="ratingForm" ng-submit="submitRating(ratingForm.$valid)" novalidate>
            <h1>Rate {{currentEntity.name}} <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h1> 
			  <div class="rating-inwrap">
				          <div class="row select-wrap">
                  <div class="col-md-12">
                      <div class="form-group">
                         <label>Schemes</label>
						  <select name="mySelect" id="mySelect" 
						  class="custom-select form-control"
						  ng-change=""
      ng-options="option.name for option in schemes track by option._id"
      ng-model="ratin.scheme">
	  <option value="">Select Corruption Scheme</option> <!-- not selected / blank option -->
     </select>
                      
                      </div>
                  </div>
                
               </div>
               <div class="rating-point">
               <star-rating></star-rating>
		  
             <!--   <div class="clearfix encount">
                   <div class="row">
                      <div class="col-lg-7">
                          Have you ever encountered any scheme at play in this entity? 
                      </div>
                      <div class="col-lg-5">
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-secondary" href="#">YES</a>
                            <a class="btn btn-secondary" href="#">NO</a>
                          </div>
                      </div>
                   </div>
               </div>
       -->
               <div class="form-group">
                  <textarea rows="5" class="form-control" placeholder="Additional comments (optional)" ng-model="ratin.comments"></textarea>
               </div>

               <p class="remind"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; All messages are rewieved and conﬁdental</p>
               </div>
               <div class="bottom-area">
                 Yes, this information is accurate  <button class="btn " type="submit">Rate entity</button>
               </div>
            </div>
          </form>
       </div>
    </section>