<section class="clearfix content-area">

  <div class="rating-area">
    <form name="requestForm" ng-submit="submitRequest(requestForm.$valid)" novalidate ng-show="!requestCompleted">
      <h1>Request for {{requestType}} assessorship <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h1>
      <div class="rating-inwrap">
        <div class="rating-point">
          <div class="col-md-12">

            <div class="form-group row">
              <label class="col-3">Organization</label>
              <div class="col-9">
                <select name="entitySelect" id="entitySelect" class="custom-select form-control" ng-change="" ng-options="option._id  as option.name for option in entities track by option._id"
                  ng-model="request.entity" required>
	               <option value="">Select Organization</option> <!-- not selected / blank option -->
               </select>
               <span ng-show="requestForm.entitySelect.$invalid && !requestForm.entitySelect.$pristine " class="text-danger ">Select Entity you intend to assess</span>
             
              </div>
            </div>

            <div class="form-group row">
              <textarea rows="5" class="form-control" placeholder="Additional comments (optional)" ng-model="request.comments"></textarea>
            </div>

            <p class="remind"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; All Information are rewieved and conﬁdental</p>
          </div>
          <div class="bottom-area">
            Yes, this information is accurate <button class="btn " type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div ng-show="requestCompleted">
      <p> Your assessorship request has been sent and recieved. we will get back to you within 48 hours </p>
      <button class="btn btn-primary" type="button" ui-sref="dashboard">Back to Dashboard</button>
    </div>
  </div>
</section>