<div class="col-md-4 col-sm-6 m-b-md shadow-mobile clickable" ng-repeat="scheme in schemes">
	<div class="col-md-12 card-md clickable" ng-click="showResult(scheme)">
		<span class="col-md-12 no-padder">
			<p>{{scheme.name}}</p>

			<hr>
		</span>



		<span class="col-md-6 col-xs-6 no-padder">
			<b>Sector</b>
			<p> Education</p>

		</span>

		<span class="col-md-6 col-xs-6 no-padder">
			<b>Antidotes</b>
			<p>5</p>
		</span>

		<span class="col-md-6 col-xs-6 no-padder">
			<b>Likelihood of Occurence</b>
			<p>Low</p>

		</span>

		<span class="col-md-6 col-xs-6 no-padder">
			<b>Frequency of Occurence</b>
			<p>Medium</p>
		</span>

		<span class="col-md-12 col-xs-6 no-padder">
			<b>Subsceptible Areas</b>
			<p> Admission, Registration, Examination/ Certification...</p>

		</span>

		<span class="col-md-12 col-xs-6 no-padder">
			<b>Scheme Operators</b>
			<p>Administrative Staff, Non-Academic Staff ...</p>

		</span>
	</div>
</div>
