@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300,100);
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica;
}
body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #FCFCFC;
  padding-top: 100px;
}
.none {
  display: none;
}
.helper-text {
  color: grey;
  margin-top: 5px;
  cursor: pointer;
}
.m-t-sm {
  margin-top: 15px;
}
.capitalize {
  text-transform: capitalize;
}
a {
  color: inherit;
}
.toolbar {
  height: 66px;
  position: fixed;
  padding-top: 2px;
  background-color: rgba(255, 255, 255, 0.98);
  top: 0;
  z-index: 999999;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  color: #484848;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
@media all and (min-width: 320px) and (max-width: 959px) {
  .toolbar {
    width: 100%;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .toolbar {
    width: 100%;
  }
}
.toolbar .toolbar-logo a {
  color: #90949C;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize !important;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .toolbar .search-bar {
    display: none;
  }
}
.toolbar .search-bar input {
  width: 100%;
  height: 40px;
  outline: none;
  border: solid 1px #EAEAEA;
  border-radius: 3px;
  padding-left: 2%;
}
.toolbar .about {
  text-align: right;
  text-transform: capitalize;
  text-decoration: none;
}
@media all and (min-width: 320px) and (max-width: 959px) {
  .toolbar .about {
    display: none;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .toolbar .about {
    display: none;
  }
}
.toolbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0px 32px 0 0;
  color: #90949C;
}
.toolbar a:hover {
  color: inherit;
}
.filter {
  width: 89%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  float: left;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}
.filter span {
  width: 12%;
  float: left;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .filter span {
    width: 100%;
  }
}
.filter .input-field {
  width: 40% !important;
  float: left;
  margin-right: 2%;
  margin-top: 0;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .filter .input-field {
    width: 100% !important;
    margin: 0;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .filter {
    width: 100%;
    margin-bottom: 20px;
  }
}
.home-container {
  max-width: 1185px;
  margin: 0 auto;
  min-height: 80vh;
  float: left;
}
.home-container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
.home-container ul li {
  display: inline-block;
}
@media all and (min-width: 320px) and (max-width: 1024px) {
  .home-container ul li {
    width: 50%;
    padding: 10px;
    padding-left: 0;
  }
}
@media all and (min-width: 320px) and (max-width: 959px) {
  .home-container ul li {
    width: 50%;
    padding: 20px;
    padding-left: 0;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .home-container ul li {
    width: 100%;
    padding: 0;
  }
}
.home-container ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.home-container .card {
  display: inline-block;
  position: relative;
  width: 355px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: 250px;
  margin: 20px;
  margin-left: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  white-space: normal;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #4B4F56;
}
@media all and (min-width: 320px) and (max-width: 1024px) {
  .home-container .card {
    width: 100%;
    padding: 20px;
    padding-left: 0;
    margin-left: 0;
  }
}
@media all and (min-width: 320px) and (max-width: 959px) {
  .home-container .card {
    width: 100%;
    margin: 0;
    float: left;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .home-container .card {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.home-container .card:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition-delay: 0s !important;
}
.home-container .card .badge {
  margin-bottom: 10px;
  font-weight: normal;
}
.home-container .card .badge.blue {
  background: blue;
}
.home-container .card .badge.amber {
  background: #FFC200;
}
.home-container .card .badge.red {
  background: indianred;
}
.home-container .card .card-body {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  z-index: 2;
}
.home-container .card .card-body .card-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 12px;
  color: #1D2129;
  float: left;
}
.home-container .card .card-body .card-title .thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: grey;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.home-container .card .card-body .card-description {
  height: 60px;
  background: white;
  display: block;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color: #4B4F56;
  float: left;
}
.home-container .card .card-footer {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}
.home-container .card .card-footer .card-footer-wrapper {
  height: 46px;
  line-height: 46px;
  border-top: 1px solid #E9EBEE;
}
.home-container .card .card-footer .card-footer-wrapper .card-type {
  margin-right: 20px;
  display: inline-block;
  color: #4B4F56;
  float: left;
}
.home-container .card .card-footer .card-footer-wrapper .share-card {
  width: 50px;
  float: right;
  text-align: right;
}
.home-container .card .card-footer .card-footer-wrapper .share-card i {
  margin-left: 10px;
  font-size: 14px;
}
.filter-container {
  padding-top: 50px;
  float: left;
  width: 100%;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .filter-container {
    width: 100%;
  }
}
.filter-container .filter-header {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.filter-container .filter-form label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  left: 0;
}
.filter-container .filter-form input,
.filter-container .filter-form select,
.filter-container .filter-form textarea {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  font-size: 12px;
}
.filter-container .filter-form input:focus,
.filter-container .filter-form select:focus,
.filter-container .filter-form textarea:focus {
  border-bottom: 1px solid #6699FE;
  box-shadow: 0 1px 0 0 #6699FE;
}
.filter-container button {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  border: 0;
  background: #4080FF;
  opacity: 0.8;
  outline: none;
}
.filter-container button:hover {
  background: #4080FF;
  opacity: 1;
}
.content {
  margin-bottom: 90px;
  padding-top: 60px;
}
.content h2,
.content p {
  max-width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.content h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: #1D2129;
  margin-bottom: 10px;
}
.content p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
  color: #4B4F56;
}
.content .time {
  font-size: 12px;
  margin-bottom: 30px;
}
.content .share {
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin: 0 auto;
  padding-bottom: 100px;
  width: 250px;
}
.content .share .action_bar-share {
  bottom: 80px;
  margin: 0px auto;
  text-align: center;
  left: 0;
  right: 0;
  margin-bottom: 36px;
}
.content .share .action_bar-share .logo {
  display: inline-block;
  background-color: transparent;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #90949C;
}
.content .share .action_bar-share .logo a {
  font-weight: 400;
  font-size: 16px;
  color: #90949C;
  text-decoration: none;
  margin: 0 10px;
}
.content .share .action_bar-share .logo a .icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.content .share .action_bar-share .logo span {
  vertical-align: top;
  line-height: 24px;
}
.footer {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  color: #484848;
  padding: 50px;
  padding-left: 0;
  padding-right: 0;
  float: left;
  border-top: 1px solid #eeeeee;
}
.footer img {
  height: 50px;
  margin: 10px;
}
.footer hr {
  border: none;
  border-top: 1px solid #E5E5E4;
  opacity: 0.5;
}
.footer div {
  min-height: 150px;
}
.footer div:nth-of-type(2) {
  text-transform: none;
}
.footer .partners {
  min-height: 100px;
}
.footer .footer-header {
  color: #484848;
  font-weight: 600;
}
.footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}
.footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}
.logo {
  height: 35px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 15px;
  float: left;
}
