@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica;
}

body {
    background: #FFF;
    overflow-x: hidden;
}

.none {
    display: none;
}

a {
    color: inherit;
}

.header {
    margin-bottom: 0;
    padding-bottom: 12px
}

#loading-bar-container {
    position: relative;
    z-index: 555;
    top: 0;
}

.centralize {
    position: relative;
    top: 3em;
    margin-bottom: 2em;
}

.button-social {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*.social {
  margin-left:10%;
  margin-bottom: 3em;
}*/

.button-social:hover {
    opacity: 0.9;
}

.facebook {
    background-color: #3B5998;
    color: #ffffff;
    letter-spacing: 0.7px;
}

.navbar-brand {
    position: relative;
    top: -1em;
}

.navbar-toggle {
    position: relative;
    top: 0.3em;
}

.page-heading {
    text-align: center;
    position: relative;
    top: 0em;
}

.header {
    overflow-x: hidden;
    border-bottom: 1px solid #f3f3f3;
}

.btn {
    text-transform: capitalize;
}

.label {
    text-transform: capitalize;
    font-size: 15px;
    color: black;
    font-weight: 300;
}

.hero {
    width: 100%;
    min-height: 500px;
    position: relative;
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(rgba(11, 89, 144, 0.7), rgba(11, 89, 144, 0.9)), url(http://tweet-senate.herokuapp.com/assets/senate-f3c5463087d1661a3938f422cfd2200edbf064d77306e1f8665f71e050a0ffcc.png);
    background-position: center;
}

.hero .heading {
    font-size: 56px;
    font-weight: 900;
    color: #FFFFFF;
}

.hero .sub-heading {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
}

.search-box {
    height: ;
    padding: 1.5rem;
    outline: none;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 6px;
    border: 0;
}

.radio-inline {
    display: inline-block;
}

.card {
    background: #FFFFFF;
    border: 1px solid #e8e8e8;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    word-wrap: break-word;
    margin-top: 5px;
}

.text-centeralized {
    text-align: center;
}

.card-tag {
    font-weight: 700;
    letter-spacing: 0.6px;
    /*color: #23699B;*/
}

.result {
    position: absolute;
    z-index: 9999;
    border: 1px solid #DEE5E7;
    background: #fff;
    width: 100%;
}

.result li {
    list-style: none;
    color: rgba(0, 0, 0, 0.36);
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06;
    border-bottom: 1px solid #DEE5E7;
    cursor: pointer;
    text-transform: capitalize;
}

.result li:hover {
    background: #c5c5c5;
    color: #333;
    font-weight: 400;
}

.survey {
    margin-bottom: 30px;
    /*Custom radio buttons*/
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .survey .col-md-12, .survey .col-md-6 {
        padding: 0;
    }
}


/*@media (min-width:340px) and (max-width:766px) {
  .social {
    margin-left: 15%;
  }
}*/

.survey h1 {
    font-size: 24px;
}

.survey label {
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.survey input {
    outline: none;
    border: 1px #e9ebee solid;
}

.survey select {
    -webkit-appearance: none;
}

.survey .rating-title {
    font-size: 18px;
}

.survey .custom {
    /* Base for label styling */
    /* radio aspect */
    /* checked mark aspect */
    /* checked mark aspect changes */
    /* disabled radio */
    /* accessibility */
}

.survey .custom [type="radio"]:not(: checked), .survey .custom [type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.survey .custom [type="radio"]:not(:checked)+label, .survey .custom [type="radio"]:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.survey .custom [type="radio"]:not(:checked)+label:before, .survey .custom [type="radio"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: none;
}

.survey .custom [type="radio"]:not(:checked)+label:after, .survey .custom [type="radio"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}

.survey .custom [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.survey .custom [type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.survey .custom [type="radio"]:disabled:not(:checked)+label:before, .survey .custom [type="radio"]:disabled:checked+label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.survey .custom [type="radio"]:disabled:checked+label:after {
    color: #999;
}

.survey .custom [type="radio"]:disabled+label {
    color: #aaa;
}

.survey .custom [type="radio"]:checked:focus+label:before, .survey .custom [type="radio"]:not(:checked):focus+label:before {
    border: 1px dotted blue;
}

.survey .rating {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
}

.survey .rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    left: 0;
    clip: rect(0, 0, 0, 0);
}

.survey .rating:not(:checked)>label {
    float: right;
    width: 2.3em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.2;
    color: #ddd;
}

ul.rating {
    display: inline-block;
}

.rating_service {
    width: 100%;
    height: 75px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: gold;
}

.survey .rating:not(:checked)>label:before {
    content: '★ ';
    font-size: 18px;
}

.survey .rating>input:checked~label {
    color: #ea0;
}

.survey .rating:not(:checked)>label:hover, .survey .rating:not(:checked)>label:hover~label {
    color: #ea0;
}

.survey .rating>input:checked+label:hover, .survey .rating>input:checked+label:hover~label, .survey .rating>input:checked~label:hover, .survey .rating>input:checked~label:hover~label, .survey .rating>label:hover~input:checked~label {
    color: #ea0;
}

.survey .rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.card:hover {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s ease-out;
}

.card .list-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
}

.card-title {
    text-transform: capitalize;
    word-wrap: break-word;
}

.card-list {
    list-style: none;
}

.card-list .list-item {
    position: relative;
    width: inherit;
    background: inherit;
    border: none;
    padding-bottom: 0px;
}

.card-title_colored {
    background: #f5f5f5;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px;
    letter-spacing: 3px;
}

.card-content {
    width: inherit;
}

.pack {}

.pack-title {
    text-align: center;
    padding-bottom: 25px
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    background: #f5f5f5;
    color: #484848;
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer img {
    height: 50px;
    margin: 10px;
}

.footer hr {
    border: none;
    border-top: 1px solid #E5E5E4;
    opacity: 0.5;
}

.footer div {
    min-height: 200px;
}

.footer div:nth-of-type(2) {
    text-transform: none;
}

.footer .partners {
    min-height: 100px;
}

.footer .footer-heading {
    color: #484848;
    font-weight: 400;
}

.footer .fa-twitter-square {
    color: skyblue;
    margin-right: 10px;
}

.footer .fa-facebook-square {
    color: #3B5998;
    margin-right: 10px;
}

.logo {
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
    float: left;
}

.navigation {
    width: 100%;
    height: 100px;
    background: #ffffff;
}

.search-bar-wrapper {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #f3f3f3;
}

.search-bar {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    /*box-shadow: 0 0 0 1px rgba(0,0,0,0.2);*/
    position: relative;
    margin-top: 5%;
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .search-bar {
        padding: 0;
    }
}

.search-bar input {
    height: inherit;
    border: 1px solid #f5f5f5;
    border-top: 0;
    border-bottom: 2px solid skyblue;
    padding: 15px;
    padding-left: 20px;
}

.search-bar .fa-search {
    position: absolute;
    left: 97%;
    top: 20px;
    z-index: 1;
}

.home-search {
    position: relative;
}

.home-search .fa-search {
    color: grey;
    position: absolute;
    top: 28px;
    right: 8%;
    z-index: 1;
}

.search-num {
    max-height: 68px;
    border-left: 3px solid skyblue;
    position: relative;
    padding: 10px 25px 13px 17px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-box-top {
    width: 100%;
    padding: .6rem;
    outline: none;
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .search-box-top {
        width: 100%;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.overlay .panel-sm {
    height: auto;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-top: 100px;
    overflow: scroll;
    padding-bottom: 100px;
    position: relative;
}

.panel {
    padding: 0;
}

.panel .avatar {
    width: 120px;
    height: 120px;
    float: left;
    background: url('../img/mm.png');
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

.panel .bio {
    height: auto;
    background: #f5f5f5;
    padding-top: 15px;
}

.panel .bio h1 {
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    float: left;
}

.panel .bio span {
    float: left;
    overflow: hidden;
    height: 50px;
}

.overlay-dark {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-dark h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.overlay-dark .panel {
    height: auto;
    background: #FFFFFF;
    padding: 30px;
}

.overlay-dark .panel label {
    font-size: 12px;
    color: #828181;
}

.overlay-dark .panel button {
    outline: none;
}

#gradient {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.project-desc {
    max-height: 60px;
    overflow: hidden;
    text-transform: capitalize;
}

.truncate {
    height: 20px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.not-found {
    color: #000;
}

.not-found h1 {
    padding-bottom: 10px;
}

.not-found img {
    width: 100px;
    height: 100px;
}

.projects-heading {
    height: 60px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    line-height: 60px;
    background-image: linear-gradient(rgba(43, 184, 246, 0.8), rgba(43, 184, 246, 0.8)), url("../img/pattern.png");
}

.projects-heading h5 {
    line-height: 60px;
    color: #fff;
}

.panel-top:hover {
    background: #f5f5f5;
}

.min500 {
    min-height: 500px;
    /*height: auto;*/
}

.share-profile {
    height: 50px;
}

.share-profile .black-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333333;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 12px;
    cursor: pointer;
}

.full-bg {
    width: 100%;
    height: calc(100vh - 100px);
    background: #f3f3f3;
    font-family: 'Open Sans', Helvetica !important;
}

.full-bg h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.full-bg .panel {
    height: auto;
    background: #FFFFFF;
    padding: 30px;
}

.full-bg .panel label {
    font-size: 12px;
    color: #828181;
}

.full-bg .panel button {
    width: 100%;
    height: 40px;
    /*background: #00C973;*/
    /*color: #FFFFFF;*/
    outline: none;
}

.full-bg .panel button[disabled] {
    opacity: 0 !important;
}

.custom {
    outline: none;
    box-shadow: none;
    border: 1px solid #dee5e7;
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .panel .bio {
        margin-top: 0;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
  .social {
    margin-left: 15%;
    margin-bottom: 4em;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
    .card {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
    }
}
@media (min-width:480px) and (max-width: 879px) {
  .page-heading {
    text-align: center;
    position: relative;
    top: 0.5em;
  }
  .social {
    margin-left: 30%;
  }
  .centralize {
    position: relative;
    top: 6em;
    margin-bottom: 2em;
  }
}

@media (min-width: 766px) {
    .page-heading {
        text-align: center;
        position: relative;
        top: 2.5em;
    }
    .hero {
        position: relative;
        min-height: 600px;
        background-position-y: initial;
    }
    .hero .heading {
        letter-spacing: 5px;
    }
    .header {
        margin-bottom: 0;
        padding: 0;
    }
    .navbar-brand {
        position: relative;
        top: -19px;
    }
    .navigation {
        height: 39px;
        background: transparent;
        position: relative;
        z-index: 100;
        top: -27px;
        left: 16%;
        width: 100%;
        line-height: 100px;
        overflow-x: hidden;
    }
    .navigation-list {
        list-style: none;
        float: right;
        color: grey;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        line-height: 100px;
        margin-left: 1%;
    }
    .navigation-list:hover {
        color: #000;
    }
    li.navigation-list>a:hover {
        padding-bottom: 15px !important;
    }
    .divider {
        height: 40px;
        /*width: %;*/
        margin-top: 30px;
    }
    .navigation-icon {
        position: relative;
        margin-left: 1em;
        margin-top: -2em;
    }
    .navigation-divider {
        margin-top: -0.03em;
    }
    .centralize {
        position: relative;
        top: 10em;
        margin-bottom: 2em;
    }
    .clear-bottom {
        margin-bottom: 8em;
    }
}

@media (min-width:988px) {
    .header {
        margin-bottom: -28px;
    }
}
