<tr ng-class="badge">
							<td>
								<div class="logo-area">
								<button class="btn btn-link rating"  ng-click="viewRating(rating)">	R </button>
								</div>
								<h5>
									<button class="btn btn-link"  ng-click="viewRating(rating)">	{{rating.entity[0].name}}
									</button>	</h5>
								<p class="time"><time-ago from-time='{{ rating.updatedAt }}'></time-ago></p>
							</td>
							<td>{{rating.schemes.length}}</td>
							<td> Education </td>
                            <td> {{rating.ratingType | asessorType}}</td>
							<td >
								<span class="badge"> RAG</span>
								
							</td>
							

						</tr>

