    <div class="f-w" id="rootwizard">
              <div class="rating-progress">
                  <div class="quiz-progress_area">
                    <div id="bar" class="quiz-progress-bar progress ">
                      <div class="bar quiz-progress-bar-inner progress-bar green-bold" style="width:5%;"></div>
                    </div>
                    <div class="count">
                     <ul>
                          <li ><a href="#tab0" data-toggle="tab"></a></li>
                     
                      <li  ng-repeat="tab in schemerater track by $index"><a href="#tab{{$index+1}}" data-toggle="tab">{{$index+1}}</a></li>
                       
                            <span class="total"> / {{schemerater.length}}</span>
                      </ul>
                   </div>
                  </div><!--/ End progress bar -->
              </div>
               <h1>Rate an organization</a></h1> 
              <div class="tab-content quiz-tab-content">
                  <div class="tab-pane  " id="tab{{$index+1}}" ng-repeat="scheme in  schemerater track by $index" >
                      <div class="rating-inwrap">
                         <div class="rating-single">

                      
                            <h3>{{scheme.scheme}}</h3>
                             <div class="row">
                                <div class="col-md-7">
                                    <h4>Antidotes </h4>
                                     <article>
                                       <h6>Title: </h6>
                                        <p>{{scheme.antidoteName}}</p>
                                     </article>

                                     <article>
                                       <h6>Description: </h6>
                                        <p>{{scheme.antidoteDesc}}</p>
                                     </article>
                                </div>
                                <div class="col-md-5">
                                    <div class="label-group">
            		     <label class="custom-control custom-radio">
                                      <input  name="{{scheme.schemeId}}{{antidote.antidoteId}}" id="{{antidote.antidoteId}}Yes" type="radio" class="custom-control-input" ng-click="rateScheme(scheme , true)">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">Yes</span>
                                    </label>
                                  <label class="custom-control custom-radio">
                                    <input name="{{scheme.schemeId}}{{antidote.antidoteId}}" id="{{antidote.antidoteId}}No" type="radio" class="custom-control-input" ng-click="rateScheme(scheme , false)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">No</span>
                                  </label>

                                    </div>
                                </div>
                             </div>
                         </div>
                      </div>
                  </div>
                
              </div>
              <div class="quiz-control bottom-area">
                <ul class="pager wizard quiz-button-area">
                  <li class="previous prev "><a ><i class="fa fa-angle-left" aria-hidden="true"></i>  Previous</a> </li>
                  <li class="next"> <a class="nx" >Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <p class="submit">Yes, this information is accurate to the best of my knowledge <button class="btn " type="submit" data-toggle="modal" data-target="#success" ng-click="submitRating()">SUBMIT</button></p>
                  </li>
                </ul>

              </div>
            </div>        