<section class="clearfix content-area fade" ng-show="showRater" ng-class="{'in' : showRater}">

	<div class="rating-area">
		<div><a class="update" ng-click="toResult()">back to search results</a></div>

		<form name="ratingForm" ng-submit="submitRating(ratingForm.$valid)" novalidate>
			<h1>Rate {{currentEntity.name}} <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h1>
			<div class="rating-inwrap">
				<div class="rating-point">
					<div class="col-md-12">
						<div class="form-group">
							<label>Entity</label>
							<select name="mySelect" id="mySelect" class="custom-select form-control" ng-change="" ng-options="option.name for option in entities track by option._id"
							 ng-model="currentEntity" required>
	  <option value="">Select Entity</option> <!-- not selected / blank option -->
     </select>

						</div>
					</div>
					<star-rating></star-rating>

					<div class="clearfix encount">
						<div class="row">
							<div class="col-lg-7">
								Have you ever encountered any scheme at play in this entity?
							</div>
							<div class="col-lg-5">
								<div class="btn-group" role="group" aria-label="Basic example">
									<div class="btn-group">
										<label class="btn " ng-model="ratin.hasScheme" uib-btn-radio="'YES'" ng-class="{'btn-success': ratin.hasScheme == 'YES'}">YES</label>
										<label class="btn" ng-model="ratin.hasScheme" uib-btn-radio="'NO'" ng-class="{'btn-danger': ratin.hasScheme == 'NO'}">NO</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-show="ratin.hasScheme=='YES'">
						<div class="form-group">
							<label>Scheme Class</label>
							<select name="mySelect" id="mySelect" class="custom-select form-control" ng-change="" ng-options="option.name for option in groups track by option._id"
							 ng-model="ratin.group">
	 							 <option value="">Select Corruption Scheme Class</option> <!-- not selected / blank option -->
     						</select>

						</div>
					</div>

					<div class="form-group">
						<textarea rows="5" class="form-control" placeholder="Enter details of the corruption scheme you encountered" ng-model="ratin.comments"></textarea>
					</div>

					<p class="remind"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; All messages are rewieved and conﬁdental</p>
				</div>
				<div class="bottom-area">
					Yes, this information is accurate <button class="btn " type="submit">Rate entity</button>
				</div>
			</div>
	</div>
	</form>
	</div>
</section>
<section class="clearfix content-area " ng-show="!showRater" ng-class="{ 'fade in' : !showRater}" >
	<div class="banner">


		<div class="inner-banner">
			<h1>Track Corruption Schemes and Antidotes</h1>
			<div class="banner-search">
				<uib-tabset active="active">
					<uib-tab index="0" heading="Search by Scheme">
						<form ng-submit="search()">
							<input class="form-control" type="text" placeholder="What are you looking for ?" ng-model="searchKeyword.keyword">
							<button class="btn btn-outline-success" type="submit" >Search</button>
						</form>

					</uib-tab>
					<uib-tab index="1" heading="Search by Sector">
						<form ng-submit="search()">
							<input class="form-control" type="text" placeholder="What are you looking for ?" ng-model="searchKeyword.keyword">
							<button class="btn btn-outline-success" type="submit" ng-click="search()">Search</button>
						</form>

					</uib-tab>


				</uib-tabset>



			</div>

		</div>
	</div>
	<!-- End banner -->
	<div class="ratings-wrap">
		<div class="container">
			<div class="work-reviews">

				<ul>
					<li> <span class="bullet sch"></span> 80 Schemes </li>
					<li> <span class="bullet cas"></span> 500 Antidotes </li>
					<li> <span class="bullet sec"></span> 1 sector</li>
				</ul>
			</div>
			<div class="recent-ratings" ng-show="ratings.length> 0">
				<h4>Recent Ratings</h4>
				<a class="rate-now" ng-click="publicRating(entity)"> RATE NOW</a>
				<div class="table-responsive">
					<table class="table ">
						<tr>
							<th>Institutions</th>
							<th>No of schemes </th>
							<th>Sector</th>
							<th>Assessment Type</th>
							<th></th>
						</tr>


						<tr class="purpel" ng-repeat="rating in ratings" rating=rating rating-badge>

						</tr>

					</table>
				</div>
			</div>
			<div class="recent-ratings" ng-show="entities.length">
				<h4>Recent Entities</h4>
				<div class="table-responsive">
					<table class="table ">
						<tr>
							<th></th>
							<th>Institutions</th>
							<th>Sectors</th>
							<th></th>
						</tr>


						<tr class="purpel" ng-repeat="entity in entities" entity-badge>

						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- End rating wrap -->
	<div class="schemes">
		<div class="container">
			<h2>Recent Schemes</h2>

			<div class="row scheme-thumb-wrap">
				<div class="col-md-4 col-sm-6" ng-repeat="scheme in schemes">
					<div class="scheme-thumb">
						<h4>{{scheme.name}}</h4>
						<h5><strong>Sector: </strong> {{scheme.sectors[0].name}}</h5>
						<h5><strong>Focus Areas: </strong> {{scheme.focus}}</h5>
						<h5><strong>Scheme Class: </strong> {{scheme.group[0].name}}</h5>
						<h5><strong>Antidotes: </strong> {{scheme.antidotes.length}}</h5>
						<button data-toggle="modal"
                  data-target="#schemeDetail" class="btn btn-link read-more" ng-click="setScheme(scheme)">Read More</button>
					</div>
				</div>
				<!-- End scheme thumb -->
			</div>
		</div>
	</div>
	<!-- End schemes -->
	<div class="join-area">
		<div class="container">


			<h2>Join to tame corruption now!</h2>
			<!--<form class="form-inline" method="post" action="#">
				<input type="text" placeholder="Name" class="form-control">
				<input type="Email" placeholder="E-mail" class="form-control">
				<button class="btn btn-success">Sign up</button>
			</form>-->

		</div>
	</div>
</section>




<!-- Modal -->
<div class="modal fade" id="schemeDetail" tabindex="-1" role="dialog" aria-labelledby="success">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			  <section class="clearfix content-area modal-body">
        <div class="container">
        <div class="form-group"></div>
          <div class="clearfix"></div>
           <div class="rating-area organization details">
              <form method="post" action="">
                <h1> Scheme  <p class="update right">updated: 4 days ago</p></h1> 
                <div class="rating-inwrap">
                   <div class="rating-single">
                      <h3>{{theScheme.name}}</h3>
                       <div class="row">
                          <div class="col-md-9">
                             
                               <article>
                                 <h6>Sector:</h6>
                                  <p>Education</p>
                               </article>

                               <article>
                                 <h6>Focus</h6>
                                  <p> {{theScheme.focus}}</p>
                               </article>

                               <article>
                                 <h6>Level</h6>
                                  <p>{{theScheme.level}} </p>
                               </article>

                               <article>
                                 <h6>Antidotes({{theScheme.antidotes.length}})</h6>
                                 
                               </article>

                          </div>
                          <div class="col-md-3">
                              <div class="progress-area row">
                                    <div class="col-sm-12">
                                       <h3>{{theScheme.likelihood}}</h3>
                                       <p>Likelihood of Occurence </p>
                                       <div class="progress">
                                          <div class="progress-bar" ng-class="{'bg-success':theScheme.likelihood=='low' , 'bg-warning':theScheme.likelihood=='medium','bg-danger':theScheme.likelihood=='high'}" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                       </div>
                                    </div>
                                    <div class="col-sm-12">
                                       <h3>{{theScheme.frequency}}</h3>
                                       <p>Frequency of Occurence  </p>
                                       <div class="progress">
                                          <div class="progress-bar" ng-class="{'bg-success':theScheme.frequency=='low' , 'bg-warning':theScheme.frequency=='medium','bg-danger':theScheme.frequency=='high'}" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
                                       </div>
                                    </div>
                                </div>
                          </div>
                       </div>
					   <div class="collapse hide" id="collapseExample{{scheme._id}}">
                        <div class="card card-block">

                          <p ng-repeat="antidote in theScheme.antidotes">
                            {{antidote.name}}
                          </p>

                        </div>
                      </div>
                   
                   </div>
                </div>
                <div class="bottom-area">
                    
                   </div>
              </form>
           </div>
       </div>
    </section>
		</div>
	</div>
</div>