<div class="container">
	<!--	<div class="spinner" ng-if="!persons">
		<div class="spinner__item1"></div>
		<div class="spinner__item2"></div>
		<div class="spinner__item3"></div>
		<div class="spinner__item4"></div>
	</div>

-->

	<!--Senators-->
	<div class="row padder-sm">
		<h1 class="page-heading">Login</h1>
		<div class="centralize">

			<div class="col-md-offset-2 col-md-4 col-sm-12 social container">
				<button ng-click="authenticate('facebook')" class="button-social facebook">
					<i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
					<span style="padding-left:10px">Sign in with Facebook</span>
				</button>
				<!-- <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button><br>
				<button ng-click="authenticate('twitter')">Sign in with Twitter</button> -->
			</div>
			<div class="col-md-4  clear-bottom">
				<form novalidate class="form-horizontal">
					<!-- <div class="form-group  animated animate-slow fadeIn" ng-show="error">
						{{error.message}}
					</div> -->
					<div>
						<div class="alert alert-danger form-group  animated animate-slow fadeIn" role="alert" ng-show="error">
						  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						  <span class="sr-only">Error:</span>
						  {{error.message}}
						</div>
					</div>

					<div class="form-group">
						<label for="Email" >Email</label>
						<input class="form-control input-lg" type="text" placeholder="Enter email" id="sector" ng-model="user.email">

					</div>

					<div class="form-group  animated animate-slow fadeIn ">
						<label for="password">Password</label>
						<input class="form-control input-lg" type="password" placeholder="Password" id="organization" ng-model="user.password">

					</div>

					<button class="btn btn-primary animated fadeIn btn-lg" ng-click="login()">Login</button>
					<a ui-sref="register" class="pull-right "> No account? Register here </a>
				</form>
			</div>

		</div>
	</div>
	<!--End of projects-->
</div>


<div class="footer">
	<div class="container">
		<div class="col-md-8">
			<p class="footer-heading">About</p>
			<hr> Ratings and analytics system to track, analyse, map, and expose <br>corruption risks / practices.
		</div>
		<div class="col-md-4 p-t">
			<p class="clickable"><i class="fa fa-facebook-square"></i><a href="https://web.facebook.com/codefornigeria" target="_blank">Like us on Facebook</a></p>
			<p class="clickable"><i class="fa fa-twitter-square"></i><a href="https://twitter.com/codefornigeria" target="_blank">Follow us on Twitter</a></p>
		</div>
		<div class="col-md-8 partners">
			<p class="footer-heading">Built by</p>
			<hr>
			<a href="http://www.codefornigeria.io" target="_blank"><img src="assets/img/cfnigeria.png"></a>
			<a href="http://www.integritynigeria.org" target="_blank"><img src="assets/img/integrity.png"></a>
		</div>
		<div class="col-md-4 partners">
			<p class="footer-heading">With Support From</p>
			<hr>
			<a href="http://www.undp.org" target="_blank"><img src="assets/img/undp.png"></a>
			<a href="http://www.europa.eu" target="_blank"><img src="assets/img/eu.jpg"></a>
			<a href="http://www.unodc.org" target="_blank"><img src="assets/img/unodc.png"></a>
		</div>
		<p class="col-md-12 m-t-md text-center text-sm text-thin">
			<a href="https://github.com/codefornigeria/project-tame" target="_blank">Fork this project on Github</a>
		</p>
	</div>
</div>
