<section class="clearfix content-area" ng-show="!showAssessment && !showDepartment">

  <div class="container">
    <div class="rating-area organization auto-suggetion">
      <form name="ratingForm" ng-submit="loadDepartments(ratingForm.$valid)">
        
        <div class="rating-inwrap auto-suggetion">
          <div class="form-group">
            <label>WHAT SECTOR IS THIS ORGANIZATION?</label>
            <select class="form-control"  placeholder="Select a sector" required ng-options="option._id  as option.name for option in sectors track by option._id" ng-model="ratin.sectorId">
					<option value="" disabled selected>Please Select a Sector</option>
          </select>
            <!--<input type="text" class="form-control" id="organigation" placeholder="Education" ng-model="ratin.sector" ng-change="searchSector()"
              required>
            <ul class="typeahead dropdown-menu" ng-show="sectorsearching">
              <li ng-repeat="result in results" ng-click="addSector(result)">
                {{result.name}}
              </li>
            </ul>-->
          </div>
          <div>
            <div class="form-group">
              <label>SELECT ORGANIZATION </label>
               <select class="form-control"   required ng-options="option._id  as option.name for option in entities track by option._id" ng-model="ratin.organizationId">
					<option value="" disabled selected>Please Select an organization</option>
          </select>
              <!--<input type="text" class="form-control" id="organization-name" placeholder="Nnamdi Azikiwe Univeristy" ng-model="ratin.organization"
                ng-change="searchOrganization()" required>
              <ul class="typeahead dropdown-menu" ng-show="orgsearching">
                <li ng-repeat="result in orgs" ng-click="addOrganization(result)">
                  {{result.name}}
                </li>
              </ul>-->
            </div>
            <div class="bottom-area">
             <button class="btn " type="submit">Select Specialization</button>
            </div>
          </div>
      </form>
      </div>
    </div>
</section>

<section  ng-show="!showAssessment && showDepartment">
  <div class="rating-area organization auto-suggetion">
  <form name="categoryForm" ng-submit="loadSchemes(ratingForm.$valid)">
    <h1>Select Specialization</a>
    </h1>
    <div class="rating-inwrap auto-suggetion">

      <div >

        <div class="label-group" ng-repeat="department in groups track by department._id">
          <label class="custom-control custom-radio">
                                      <input  name="specialization" id="{{department.name}}" type="radio" value={{department._id}} class="custom-control-input" ng-model="ratin.department">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">{{department.name}}</span>
                                    </label>
       

        </div>

        <div class="bottom-area"><button class="btn " type="submit">Rate organization</button>
        </div>
      </div>
  </form>
  </div>
</div>
</section>

<section class="clearfix content-area" ng-show="showAssessment && !showDepartment">
  <div class="rating-area organization progress-wrap">
    <section class="f-w quiz-wrap">
      <!--==================End quiz single sectin =============== -->
      <div class="f-w" id="rootwizard" bootstrap-wizard>
        <div class="rating-progress">
          <div class="quiz-progress_area">
            <div id="bar" class="quiz-progress-bar progress ">
              <div class="bar quiz-progress-bar-inner progress-bar green-bold" style="width:5%;"></div>
            </div>
            <div class="count">
              <ul>
                <li ng-repeat="tab in schemerater track by $index"><a href="#tab{{$index+1}}" data-toggle="tab">{{$index+1}}</a></li>

                <span class="total"> / {{schemerater.length}}</span>
              </ul>
            </div>
          </div>
          <!--/ End progress bar -->
        </div>
        <h1> {{ratin.organization}}
        </h1>
        <div class="tab-content quiz-tab-content">
          <div class="tab-pane  " id="tab{{$index+1}}" ng-repeat="scheme in  schemerater track by $index">
            <div class="rating-inwrap">
              <div class="rating-single">


                <h3>{{scheme.scheme}}</h3>
                <div class="row">
                  <div class="col-md-7">
                    <h4>Antidotes </h4>
                    <article>
                    
                      <p>{{scheme.antidoteName}}</p>
                    </article>

                    <article>
                      <h6>Description: </h6>
                      <p>{{scheme.antidoteDesc}}</p>
                    </article>
                  </div>
                  <div class="col-md-5">
                    <div class="label-group">
                      <label class="custom-control custom-radio">
                                      <input  name="{{scheme.schemeId}}{{scheme.antidoteId}}"  type="radio" class="custom-control-input" ng-click="rateScheme(scheme , true)">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">Yes</span>
                                    </label>
                      <label class="custom-control custom-radio">
                                    <input name="{{scheme.schemeId}}{{scheme.antidoteId}}"  type="radio" class="custom-control-input" ng-click="rateScheme(scheme , false)" >
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">No</span>
                                  </label>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="quiz-control bottom-area">
          <ul class="pager wizard quiz-button-area">
            <li class="previous prev "><a><i class="fa fa-angle-left" aria-hidden="true"></i>  Previous</a> </li>
            <li class="next"> <button class="nx btn btn-primary">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
              <p class="submit">Yes, this information is accurate to the best of my knowledge <button class="btn " type="submit" data-toggle="modal"
                  data-target="#success" ng-click="submitRating()">SUBMIT</button></p>
            </li>
          </ul>

        </div>
      </div>
      <!--<div> <button class="btn btn-primary">Save for later</button></div>-->
    </section>
    <!--/ End quiz-area -->
  </div>
  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="success">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="congratulations-area">
            <img src="assets/img/ok.jpg">
            <h2>Congratulations! Your rating has successfully done</h2>
            <div class="clearfix"></div>
            <a href="#" class="createrg" data-dismiss="modal" ng-click="viewRating()">View rating</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>