<div class="container min500">
	<!--	<div class="spinner" ng-if="!persons">
		<div class="spinner__item1"></div>
		<div class="spinner__item2"></div>
		<div class="spinner__item3"></div>
		<div class="spinner__item4"></div>
	</div>

-->

	<!--Senators-->



		<div class="col-md-offset-2 col-md-9 survey container">
			<div class="row padder-sm">
				<h2 class="row"> Rate an Organization </h2></div>
			<div class="row padder-sm">
				<div class="col-md-8">
					<form class="row" novalidate>
						<div class="form-group animated fadeIn" ng-show="!showAssessment && !ratingCompleted">
							<label for="location">What sector is this organization?</label>
							<input class="form-control input-lg capitalize" type="text" placeholder="Enter sector name" id="sector" ng-model="ratin.sector" ng-change="searchSector()" autocomplete="off">
							<div class="col-md-10 result m-t no-padder" ng-show="searching">
								<li ng-repeat="result in results" ng-click="addSector(result)">
									{{result.name}} 	
								</li>
							</div>
						</div>
						<div class="form-group animated  fadeIn " ng-show="ratin.sectorSelected && !showAssessment && !ratingCompleted">
							<label for="location">Enter Organization Name?</label>
							<input class="form-control input-lg capitalize" type="text" placeholder="Enter sector name" id="organization" ng-model="ratin.organization" ng-change="searchOrganization()" autocomplete="off">
							<div class="col-md-12 result m-t no-padder" ng-show="orgSearch">

								<li ng-repeat="result in results" ng-click="addOrganization(result)">
									{{result.name}}
								</li>

							</div>
						</div>


						<div class="form-group  animated  fadeIn " ng-show="showAssessment && !ratingCompleted">
							<ul rn-carousel class="container" style="height:700px; overflow-y:scroll" >
								<li class="row antidotes" ng-repeat="scheme in schemerater track by $index">


									<div class="antidotes col-md-9 padder-sm " ">
										<div class="padder-sm ">
											<h3>{{scheme.scheme}}</h3>

											</div>

										<h4>
											Antidotes
										</h4>
										<div class="col-sm-8 col-md-8">
											<p>{{scheme.antidoteName}}</p>
											<p>{{scheme.antidoteDesc}}</p>
										</div>
										<div class="col-sm-4">
											<label class="radio-inline">
								<input type="radio"  name="{{scheme.schemeId}}{{antidote.antidoteId}}" id="{{antidote.antidoteId}}Yes" value="option1" ng-click="rateScheme(scheme , true); nextSlideU(scheme , nextSlide, schemerater.length , $index)" > Yes
								</label>
											<label class="radio-inline">
								<input type="radio"  name="{{scheme.schemeId}}{{antidote.antidoteId}}" id="{{antidote.antidoteId}}No" value="option2" ng-click="rateScheme(scheme , false); nextSlideU(scheme , nextSlide,schemerater.length , $index)"> No
								</label>
										</div>

									</div>
									<div class="clearfix">

									</div>
									<div class="antidote row col-md-8 col-sm-7">
											<button  class="btn btn-primary animated fadeIn pull-right" ng-click="submitRating()"  ng-show="schemerater.length-1 == carouselIndex ">Submit</button>
								</li>

								</ul>
							<div class="col-md-12 result m-t no-padder" ng-show="searching">
								<li ng-repeat="result in results" ng-click="addOrganization(result)">
									{{result.name}}
								</li>
							</div>
						</div>






						<div class="form-group  col-md-12 text-centeralized" ng-show="ratingCompleted" style="centralize">
							<h3 class="">You have successfully assessed {{ratin.organization}}</h3>
							<div>
								<p> Sector : {{ratin.sector}}</p>
								<p>organization :{{ratin.organization}}</p>
								<span class="col-md-3 padder-bottom">
									<span style="color:#ffffff;" class="label" ng-class="{'label-danger': ratingResult.score< 2.5 ,'label-warning': ratingResult.score >2.5 , 'label-success': ratingResult.score > 4}">RAG</span>
								</span>


							</div>
						</div>


						<div class=" " ng-show="ratin.organizationSelected && !showAssessment && !ratingCompleted">
							<button class="btn btn-primary animated fadeIn btn-lg" ng-click="loadSchemes(ratin)">Rate organization</button>
						</div>

						<!-- <div class="col-md-10"  ng-show="showAssessment && !ratingCompleted"><h1  ng-hide="ratin.schemes.length-1 == carouselIndex ">hello wolrd</h1>
							<button  class="btn btn-primary animated fadeIn" ng-click="submitRating()"  ng-hide="ratin.schemes.length-1 == carouselIndex ">Submit</button>
						</div> -->
					</form>
				</div>

		</div>
	</div>
	<!--End of projects-->
</div>



  <section class="clearfix content-area">
       
       <div class="container">
            <div class="rating-area organization auto-suggetion">
          <form method="post" action="">
            <h1>Rate an organization</a></h1> 
            <div class="rating-inwrap">
               <div class="form-group">
                  <label>WHAT SECTOR IS THIS ORGANIZATION?</label>
                  <input type="text" class="form-control" id="organigation" placeholder="Education" ng-model="ratin.sector" ng-change="searchSector()">
                  <span class="not-find">Can't find</span>
				  <ul class="" ng-show="sectorsearching">
					  <li ng-repeat="result in results" ng-click="addSector(result)">
									{{result.name}} 	
				</li>
				  </ul>
                </div>

              <div class="form-group">
                  <label>ENTER ORGANIZATION NAME</label>
                  <input type="text" class="form-control" id="organization-name" placeholder="Nnamdi Azikiwe Univeristy" ng-model="ratin.organization" ng-change="searchOrganization()">
                  <span class="not-find">Can't find</span>
               <ul class="" ng-show="orgsearching">
					<li ng-repeat="result in orgs" ng-click="addOrganization(result)">
									{{result.name}}
								</li>
               </ul>
               
               <div class="bottom-area">
                 Yes, this information is accurate  <button class="btn " type="submit">Rate organization</button>
               </div>
            </div>
          </form>
       </div>
       </div>
    </section>
