		<div class="col-xs-12 col-md-4 col-sm-4" ng-hide="showComparison">
		<div class="col-md-12 card">
			<h1 class="card-title card-title_colored">Scheme</h1>
			<ul class="card-list">
				<li class="list-item">
					<h4>Scheme Name</h4>
					<p ng-if="entity.name">{{entity.name}}</p>
					<p ng-if="!entity.name">Not Available</p>
				</li>

				<li class="list-item">
					<b>Level</b>
					<p ng-if="entity.level">{{entity.level}}</p>
					<p ng-if="!entity.level">Not Available</p>
				</li>

				<li class="list-item">
					<b>Likelihood of Occurence</b>
					<p ng-if="entity.district.name" class="capitalize">{{entity.district.name}}</p>
					<p ng-if="!entity.district.name">Low</p>
				</li>

				<li class="list-item">
					<b>Frequency of Occurence</b>
					<p>Medium</p>
				</li>

				<li class="list-item">
					<b>Subsceptible Areas</b>
					<p> Admission, Registration, Examination/ Certification...</p>
				</li>

				<li class="list-item">
					<b>Scheme Operators</b>
					<p>Administrative Staff, Non-Academic Staff ...</p>
				</li>

			</ul></div>
		</div>
